.dark h1, .dark h2, .dark h3, .dark h4 {
  color: #ffffff;
  font-family: "Cormorant Garamond", serif;
  margin: 0;
}
.dark p, .dark a {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
}
.dark a:hover {
  text-decoration: line-through;
}

.light h1, .light h2, .light h3, .light h4 {
  color: #000000;
  font-family: "Cormorant Garamond", serif;
  margin: 0;
}
.light p, .light a {
  color: #000000;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
}
.light a:hover {
  text-decoration: line-through;
}

.namesplash {
  align-items: center;
  display: none;
  flex-direction: column;
  font-size: 4rem;
  height: 100vh;
  margin: 0;
  text-align: center;
  width: 100%;
}
.namesplash .subsplash {
  font-size: 1rem;
}

.container {
  display: block;
  height: 300px;
  width: 100%;
}

.postgroup {
  top: 125px;
  left: -90px;
  margin-top: 40px;
  transform: rotate(270deg);
  position: relative;
  width: 300px;
}

h3.groupname {
  font-family: "Open Sans", sans-serif;
  padding: 1px;
}

.endline {
  display: block;
  width: 100%;
}
.endline:after {
  content: "";
  position: absolute;
  bottom: 1px;
  left: 0;
  right: 0;
  height: 0.5em;
  border-top: 1px solid black;
  z-index: -1;
}
.endline span {
  background-color: white;
  padding-right: 10px;
}

.text-block {
  margin: 200px 3rem 100px;
}
.text-block .sub-heading {
  font-size: 2rem;
}

.contact-info {
  margin: 50px 0;
  text-align: center;
}

.contact {
  margin-bottom: 40px;
}

.contact-miniheading {
  font-size: 1.3rem;
}

.contact-prompt {
  display: none;
}

i.fab.fa-instagram {
  color: #ffffff;
  font-size: 2rem;
  margin: 0.5rem;
}

.dark {
  background: url(../images/leather_background.jpg) center fixed;
  background-size: cover;
}

.captioned-image {
  margin-bottom: 150px;
  position: relative;
  text-align: center;
  width: 100%;
}
.captioned-image img {
  width: 100%;
}

.image-caption {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 7.5%;
  line-height: 4rem;
  width: 85%;
}
.image-caption h2 {
  font-size: 2.5rem;
  text-align: center;
}

.contact-image {
  margin: 0 auto;
  width: 55%;
}
.contact-image img {
  height: 100%;
  width: 100%;
}

.gallery {
  display: none;
  flex-wrap: nowrap;
  height: 550px;
  overflow-x: auto;
  margin: 160px 0 140px 180px;
}
.gallery .gallery-caption {
  bottom: 170px;
  display: inline;
  font-size: 1.2rem;
  position: absolute;
  transform: rotate(270deg) translateX(-180px);
  transform-origin: left bottom;
}
.gallery .gallery-heading {
  font-size: 3rem;
}
.gallery .gallery-image {
  flex: 0 0 auto;
  height: 450px;
  margin-right: 150px;
  position: relative;
}
.gallery .gallery-image img {
  height: 100%;
}

.down {
  margin-top: 60px;
}

.navbar-mobile {
  background-color: black;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  height: 150px;
}
.navbar-mobile .logo {
  font-size: 1.2rem;
  padding: 1rem 0.8rem;
}
.navbar-mobile .hamburger {
  filter: invert(1);
  height: 70px;
  width: 70px;
  padding: 0 0.1rem;
}

.navbar-mobile.light {
  background-color: white;
}
.navbar-mobile.light .hamburger {
  filter: invert(0);
}

.navbar-desktop {
  display: none;
}
.navbar-desktop div {
  margin: 0;
  position: fixed;
  width: 150px;
}

.nav-home {
  transform: rotate(270deg);
  top: 160px;
  left: 40px;
  text-align: right;
}

.nav-work {
  transform: rotate(90deg);
  top: 160px;
  right: 40px;
  text-align: left;
}

.nav-about {
  transform: rotate(270deg);
  bottom: 160px;
  left: 40px;
  text-align: left;
}

.nav-contact {
  transform: rotate(90deg);
  bottom: 160px;
  right: 40px;
  text-align: right;
}

body {
  margin: 0;
}

main {
  width: 100%;
}

@media (min-width: 768px) {
  main {
    padding-top: 100px;
  }

  body.light main {
    padding-top: 0;
  }

  .navbar-mobile {
    padding: 0 2%;
  }

  .image-caption {
    left: 12.5%;
    width: 75%;
  }
  .image-caption h2 {
    font-size: 2.8rem;
  }

  .captioned-image {
    width: 55%;
    margin: 0 auto 150px;
  }

  .contact-info {
    margin: 20px auto 100px;
  }

  .contact-image {
    width: 55%;
  }

  .text-block {
    display: flex;
    flex-wrap: wrap;
    margin: 100px auto;
    width: 55%;
  }
  .text-block .sub-heading {
    font-size: 2rem;
    width: 100%;
  }
  .text-block .bio {
    width: 60%;
  }
  .text-block .clients {
    margin-left: 10%;
    width: 30%;
  }

  .contact-info .contact-miniheading {
    font-size: 1.6rem;
  }
}
@media (min-width: 1200px) {
  main {
    padding-top: 0px;
  }

  .logo, .hamburger {
    display: none !important;
  }

  .navbar-mobile {
    display: none;
  }

  .navbar-desktop {
    display: block;
  }

  .mobile-images {
    display: none;
  }

  .gallery {
    display: flex;
  }

  .namesplash {
    display: flex;
  }

  .arrowdown {
    display: block;
    margin: 200px auto 0;
    width: 200px;
  }

  .captioned-image {
    width: 35%;
    margin: 0 auto 220px;
  }

  .postgroup {
    display: none;
  }

  .contact-image {
    display: none;
  }

  .contact-prompt {
    display: block;
  }
}

/*# sourceMappingURL=style.css.map */
