main{
  padding-top: 0px;
}

.logo, .hamburger{
  display: none !important;
}

.navbar-mobile{
  display: none;
}
.navbar-desktop{
  display: block;
}

.mobile-images{
  display: none;
}

.gallery{
  display: flex;
}

.namesplash{
  display: flex;
}
.arrowdown{
  display: block;
  margin: 200px auto 0; 
  width: 200px;
}

.captioned-image{
  width: 35%;
  margin: 0 auto 220px;
}
.postgroup{
  display: none;
}

.contact-image{
  display: none;
}
.contact-prompt{
  display: block;
}

.scroll-buttons{
  display: block;
}