.logo, .hamburger{
  display: none !important;
}


.navbar-mobile{
  display: none;
}
.navbar-desktop{
  display: block;
}

.namesplash{
  display: block;
}
.arrowdown{
  display: block;
  margin: 200px auto 0; 
  width: 200px;
}

.captioned-image{
  width: 35%;
  margin: 0 auto 220px;
}

.contact-image{
  display: none;
}
.contact-prompt{
  display: block;
}