body{
  background: url(../images/leather_background.jpg) center fixed;
  background-size: cover;
}
.captioned-image{
  margin-bottom: 150px;
  position: relative;
  text-align: center;
  width: 100%;

  img{
    width: 100%;  
  }
}

.contact-image{
  margin: 0 auto;
  width: 55%;
  
  img{
    height: 100%;
    width: 100%;
  }
}

div[class^="cluster"] {
  position: absolute;
}
.cluster-artdirection-left{
  background-image: url(../images/1805_Plaza_02_109.jpg);
}
.cluster-artdirection-right{
  background-image: url(../images/1805_Plaza_03_318.jpg);
}
.cluster-contentdirection-left{

}
.cluster-contentdirection-right{

}
