body{
  background: url(../images/leather_background.jpg) center fixed;
  background-size: cover;
}
.captioned-image{
  position: relative;
  text-align: center;
  width: 100%;
  margin-bottom: 150px;

  img{
    width: 100%;  
  }
}

.contact-image{
  margin: 0 auto;
  width: 55%;
  
  img{
    height: 100%;
    width: 100%;
  }
}
