.navbar-mobile{
  background-color: black;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  height: 150px;
  
  .logo{
    font-size: 1.2rem;
    padding: 1rem 0.8rem;
  }
  #hamburger{
    filter: invert(1);
    height: 70px;
    width: 70px;
    padding: 0 0.1rem;
  }
}.navbar-mobile.light{
  background-color: white;
  #hamburger{
    filter: invert(0);
  }
}

#navbar-mobile-expansion{
  display: none;
  width: 100%;
  ul{
    margin: 0;
    padding: 0;
    li{
      align-items: center;
      background-color: black;
      height: 100px;
      text-align: center;
    }
  }
}#navbar-mobile-expansion.light{
  li{
    background-color: white;
  }
}


.navbar-desktop{
  display: none;
  div{
    margin: 0;
    position: fixed;
    width: 150px; 
  }
}


.nav-home{
  transform: rotate(270deg);
  top: 160px;
  left: 40px;
  text-align: right;
}
.nav-work{
  transform: rotate(90deg);
  top: 160px;
  right: 40px;
  text-align: left;
}
.nav-about{
  transform: rotate(270deg);
  bottom: 160px;
  left: 40px;
  text-align: left;
}
.nav-contact{
  transform: rotate(90deg);
  bottom: 160px;
  right: 40px;
  text-align: right;
}