h1, 
h2, 
h3, 
h4{
  color: #ffffff;
  margin: 0;
  .caption-heading, 
  .sub-heading, 
  .contact-miniheading{
    font-family: 'Cormorant Garamond', serif;
  }
}
p{
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}

.logo{
  font-size: 1.2rem;
  padding: 1rem 0.8rem;
}

.text-block{
  margin: 200px 0 100px 0;

  .sub-heading{
    font-size: 2rem;
  }

  p{
    line-height: 24px;
  }  
  padding: 0 3rem;
}

.contact-info{
  margin: 50px 0;
  text-align: center;
  .contact-miniheading{
    font-size: 1.3rem;
  }
  i.fab.fa-instagram{
    margin: 0.5rem;
    color: #ffffff;
    font-size: 2rem;
  }
}