h1, 
h2, 
h3, 
h4{
  color: #ffffff;
  margin: 0;
  font-family: 'Cormorant Garamond', serif;
  font-weight: normal;
}
p{
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}


.text-block{
  margin: 200px 3rem 100px;
  
  .sub-heading{
    font-size: 2rem;
  }
}

.contact-info{
  margin: 50px 0;
  text-align: center;

  .contact-miniheading{
    font-size: 1.3rem;
  }

  i.fab.fa-instagram{
    margin: 0.5rem;
    color: #ffffff;
    font-size: 2rem;
  }
}